@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import-normalize;

body {
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}
